#navbar {
    height: 60px;
    background-color:#0f1111;
}
#logo {
    color: #f08804;
    font-size: 25px;
}
button {
background-color: #f08804;
color: white;
}
a {
    margin-right: 200px;
    text-decoration: none;
    color:white;
}

.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content {
    height: 200px;
}
footer {
    background-color:#0f1111 ;
    color: white;
    text-align: center;
}
#one {
    display: flex;
    background-color: rgb(34, 119, 199);
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
}
#Reg {
    background-color: rgb(100, 211, 211);
    border-radius: 10px;
    width: 250px;
    text-align: center;
}